body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
.header {
  background-color: #333;
  color: #fff;
  text-align: center;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-items: start;
}
